In [141]:
#dependencies
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [142]:
#read file for base df from john hopkins
john_hopkins_df = pd.read_csv('https://query.data.world/s/67cg2imtwmun4xn6qjdt4buggnyegd')
john_hopkins_df.head()

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
0,Alabama,2020-01-22,4887871.0,0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,2020-01-23,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
2,Alabama,2020-01-24,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
3,Alabama,2020-01-25,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
4,Alabama,2020-01-26,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0

In [143]:
#count rows
john_hopkins_df.count()

state                            15456
date                             15456
total_population                 14352
cumulative_cases                 15456
cumulative_cases_per_100_000     14352
cumulative_deaths                15456
cumulative_deaths_per_100_000    14352
new_cases                        15400
new_cases_7_day_rolling_avg      15176
new_deaths                       15400
new_deaths_7_day_rolling_avg     15174
new_deaths_per_100_000           14300
new_cases_per_100_000            14300
dtype: int64

In [144]:
#drop empty rows 
new_hopkins_df = john_hopkins_df.dropna(how='any')

In [145]:
#verify dropped rows
new_hopkins_df.count()

state                            14090
date                             14090
total_population                 14090
cumulative_cases                 14090
cumulative_cases_per_100_000     14090
cumulative_deaths                14090
cumulative_deaths_per_100_000    14090
new_cases                        14090
new_cases_7_day_rolling_avg      14090
new_deaths                       14090
new_deaths_7_day_rolling_avg     14090
new_deaths_per_100_000           14090
new_cases_per_100_000            14090
dtype: int64

In [146]:
#new clean dataframe w dropped rows
new_hopkins_df.head()

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
5,Alabama,2020-01-27,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Alabama,2020-01-28,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Alabama,2020-01-29,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Alabama,2020-01-30,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Alabama,2020-01-31,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [172]:
#only viewing the states that are relevant to the alcohol dataset
#('Alaska','Arkansas','Colorado','Connecticut','Florida','Illinois','Kansas','Kentucky','Louisiana','Massachusetts','Missouri','North Dakota','Oregon','Texas','Virginia','Wisconsin')

states = ('Alaska','Arkansas','Colorado','Connecticut','Florida','Illinois','Kansas','Kentucky','Louisiana','Massachusetts','Missouri','North Dakota','Oregon','Texas','Virginia','Wisconsin')


clean_hopkins_df = new_hopkins_df.loc(new_hopkins_df.state == ('states'))

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [197]:
#read alcohol sales file from niaaa
alc_sales_df = pd.read_csv("alcsales_June2020.csv")

#converting the FIPS column to string as those numbers are labels for states not integers
alc_sales_df['FIPS'] = alc_sales_df['FIPS'].apply(str)


alc_sales_df.set_index('FIPS')

#display dataframe
#alc_sales_df.head()

,Year,Month,Beverage,Gallons,Ethanol,Population,PerCapita,PerCapita3yr,PctChange
FIPS,,,,,,,,,
2,2017,1,1,103645,42598,593378,0.0718,NaN,NaN
5,2017,1,1,402885,165586,2455022,0.0674,NaN,NaN
8,2017,1,1,733857,301615,4634346,0.0651,NaN,NaN
9,2017,1,1,412100,169373,3015481,0.0562,NaN,NaN
12,2017,1,1,2770686,1138752,17722275,0.0643,NaN,NaN
...,...,...,...,...,...,...,...,...,...
25,2020,6,3,10335283,465088,5862386,0.0793,0.0913,-0.1312
29,2020,6,3,11099851,499493,5077875,0.0984,0.1056,-0.0682
38,2020,6,3,2091390,94113,617880,0.1523,0.1664,-0.0844
41,2020,6,3,7969948,358648,3547474,0.1011,0.1135,-0.1092
48,2020,6,3,62290399,2803068,23257363,0.1205,0.1216,-0.0085

In [189]:
#year 2017 df
df17 = alc_sales_df[(alc_sales_df.Year == 2017) & (alc_sales_df.Month <= 6)]

#delete 2 empty rows
del df17['PerCapita3yr']
del df17['PctChange']

#display dataframe
df17.head()

   Year  Month FIPS  Beverage  Gallons  Ethanol  Population  PerCapita
0  2017      1    2         1   103645    42598      593378     0.0718
1  2017      1    5         1   402885   165586     2455022     0.0674
2  2017      1    8         1   733857   301615     4634346     0.0651
3  2017      1    9         1   412100   169373     3015481     0.0562
4  2017      1   12         1  2770686  1138752    17722275     0.0643

KeyError: False

In [191]:
#dataframe for 2018 sales january - june
df18 = alc_sales_df[(alc_sales_df.Year == 2018) & (alc_sales_df.Month <= 6)]

#delete 2 empty rows
del df18['PerCapita3yr']
del df18['PctChange']

#display dataframe
df18.head()

     Year  Month FIPS  Beverage  Gallons  Ethanol  Population  PerCapita
528  2018      1    2         1    98477    40474      590760     0.0685
529  2018      1    5         1   324055   133187     2465297     0.0540
530  2018      1    8         1   817826   336126     4715895     0.0713
531  2018      1    9         1   450195   185030     3019150     0.0613
532  2018      1   12         1  3030298  1245453    17980787     0.0693

In [192]:
#dataframe for 2018 sales january - june
df19 = alc_sales_df[(alc_sales_df.Year == 2019) & (alc_sales_df.Month <= 6)]

#delete 2 empty rows
del df19['PerCapita3yr']
del df19['PctChange']

#display dataframe
df19.head()

      Year  Month FIPS  Beverage  Gallons  Ethanol  Population  PerCapita
1056  2019      1    2         1   112835    46375      589481     0.0787
1057  2019      1    5         1   349681   143719     2476087     0.0580
1058  2019      1    8         1   889500   365585     4789291     0.0763
1059  2019      1    9         1   614817   252690     3019188     0.0837
1060  2019      1   12         1  3281500  1348697    18207522     0.0741

In [193]:
#dataframe for 2020 sales january - june
df20 = alc_sales_df[(alc_sales_df.Year == 2020) & (alc_sales_df.Month <= 6)]

#delete 2 rows for consistency
del df20['PerCapita3yr']
del df20['PctChange']

#display dataframe
df20.head()

      Year  Month FIPS  Beverage  Gallons  Ethanol  Population  PerCapita
1584  2020      1    2         1   121885    50095      589481     0.0850
1585  2020      1    5         1   325925   133955     2476087     0.0541
1586  2020      1    8         1   896700   368544     4789291     0.0770
1587  2020      1    9         1   656658   269886     3019188     0.0894
1588  2020      1   12         1  3463591  1423536    18207522     0.0782

In [198]:
#clean df w conditionals
#combining all the dataframes into one clean dataframe
clean_alc1 = pd.merge(df17, df18, how='outer')
clean_alc2 = pd.merge(df19, df20, how='outer')
new_clean_alc = pd.merge(clean_alc1, clean_alc2, how='outer')

#final clean dataframe
new_clean_alc

      Year  Month FIPS  Beverage   Gallons  Ethanol  Population  PerCapita
0     2017      1    2         1    103645    42598      593378     0.0718
1     2017      1    5         1    402885   165586     2455022     0.0674
2     2017      1    8         1    733857   301615     4634346     0.0651
3     2017      1    9         1    412100   169373     3015481     0.0562
4     2017      1   12         1   2770686  1138752    17722275     0.0643
...    ...    ...  ...       ...       ...      ...         ...        ...
1041  2020      6   25         3  10335283   465088     5862386     0.0793
1042  2020      6   29         3  11099851   499493     5077875     0.0984
1043  2020      6   38         3   2091390    94113      617880     0.1523
1044  2020      6   41         3   7969948   358648     3547474     0.1011
1045  2020      6   48         3  62290399  2803068    23257363     0.1205

[1046 rows x 8 columns]

In [213]:
#january data
jan = new_clean_alc[(new_clean_alc.Month == 1)]
feb = new_clean_alc[(new_clean_alc.Month == 2)]
march = new_clean_alc[(new_clean_alc.Month == 3)]
april = new_clean_alc[(new_clean_alc.Month == 4)]
may = new_clean_alc[(new_clean_alc.Month == 5)]
june = new_clean_alc[(new_clean_alc.Month == 6)]