In [1]:
#dependencies
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [8]:
#read file for base df from john hopkins
john_hopkins_df = pd.read_csv('https://query.data.world/s/67cg2imtwmun4xn6qjdt4buggnyegd')
john_hopkins_df.head()

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
0,Alabama,2020-01-22,4887871.0,0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,2020-01-23,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
2,Alabama,2020-01-24,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
3,Alabama,2020-01-25,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
4,Alabama,2020-01-26,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0

In [88]:
#read alcohol sales file from niaaa
alc_sales_df = pd.read_csv("alcsales_June2020.csv")

#display dataframe
alc_sales_df.head()

,Year,Month,FIPS,Beverage,Gallons,Ethanol,Population,PerCapita,PerCapita3yr,PctChange
0,2017,1,2,1,103645,42598,593378,0.0718,NaN,NaN
1,2017,1,5,1,402885,165586,2455022,0.0674,NaN,NaN
2,2017,1,8,1,733857,301615,4634346,0.0651,NaN,NaN
3,2017,1,9,1,412100,169373,3015481,0.0562,NaN,NaN
4,2017,1,12,1,2770686,1138752,17722275,0.0643,NaN,NaN

In [91]:
#year 2017 df
df17 = alc_sales_df[(alc_sales_df.Year == 2017) & (alc_sales_df.Month <= 6)]

#delete 2 empty rows
del df17['PerCapita3yr']
del df17['PctChange']

#display dataframe
df17.head()

   Year  Month  FIPS  Beverage  Gallons  Ethanol  Population  PerCapita
0  2017      1     2         1   103645    42598      593378     0.0718
1  2017      1     5         1   402885   165586     2455022     0.0674
2  2017      1     8         1   733857   301615     4634346     0.0651
3  2017      1     9         1   412100   169373     3015481     0.0562
4  2017      1    12         1  2770686  1138752    17722275     0.0643

In [92]:
#dataframe for 2018 sales january - june
df18 = alc_sales_df[(alc_sales_df.Year == 2018) & (alc_sales_df.Month <= 6)]

#delete 2 empty rows
del df18['PerCapita3yr']
del df18['PctChange']

#display dataframe
df18

     Year  Month  FIPS  Beverage   Gallons  Ethanol  Population  PerCapita
528  2018      1     2         1     98477    40474      590760     0.0685
529  2018      1     5         1    324055   133187     2465297     0.0540
530  2018      1     8         1    817826   336126     4715895     0.0713
531  2018      1     9         1    450195   185030     3019150     0.0613
532  2018      1    12         1   3030298  1245453    17980787     0.0693
..    ...    ...   ...       ...       ...      ...         ...        ...
787  2018      6    29         3  12407177   558323     5056750     0.1104
788  2018      6    38         3   2482170   111698      615077     0.1816
789  2018      6    41         3   8865811   398961     3509161     0.1137
790  2018      6    48         3  63190179  2843558    22899863     0.1242
791  2018      6    51         3  14031257   631407     7056421     0.0895

[264 rows x 8 columns]

In [95]:
#dataframe for 2018 sales january - june
df19 = alc_sales_df[(alc_sales_df.Year == 2019) & (alc_sales_df.Month <= 6)]

#delete 2 empty rows
del df19['PerCapita3yr']
del df19['PctChange']

#display dataframe
df19.head()

      Year  Month  FIPS  Beverage  Gallons  Ethanol  Population  PerCapita
1056  2019      1     2         1   112835    46375      589481     0.0787
1057  2019      1     5         1   349681   143719     2476087     0.0580
1058  2019      1     8         1   889500   365585     4789291     0.0763
1059  2019      1     9         1   614817   252690     3019188     0.0837
1060  2019      1    12         1  3281500  1348697    18207522     0.0741

In [94]:
#dataframe for 2020 sales january - june
df20 = alc_sales_df[(alc_sales_df.Year == 2020) & (alc_sales_df.Month <= 6)]
df20.head()

,Year,Month,FIPS,Beverage,Gallons,Ethanol,Population,PerCapita,PerCapita3yr,PctChange
1584,2020,1,2,1,121885,50095,589481,0.0850,0.0730,0.1643
1585,2020,1,5,1,325925,133955,2476087,0.0541,0.0598,-0.0959
1586,2020,1,8,1,896700,368544,4789291,0.0770,0.0709,0.0854
1587,2020,1,9,1,656658,269886,3019188,0.0894,0.0670,0.3332
1588,2020,1,12,1,3463591,1423536,18207522,0.0782,0.0692,0.1299