In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts

In [15]:
# Pull data for data frames

# John Hopkins Covid-19 Data
JH_df=pd.read_csv("Resources/science-data/jh_cases_deaths.csv")
JH_df

,last_update,location_type,state,county_name,county_name_long,fips_code,lat,lon,NCHS_urbanization,total_population,confirmed,confirmed_per_100000,deaths,deaths_per_100000
0,2020-10-24 15:24:25 UTC,county,Alabama,Autauga,"Autauga, Alabama, US",1001.0,32.539527,-86.644082,Medium metro,55200.0,2048,3710.14,31,56.16
1,2020-10-24 15:24:25 UTC,county,Alabama,Baldwin,"Baldwin, Alabama, US",1003.0,30.727750,-87.722071,Small metro,208107.0,6637,3189.22,69,33.16
2,2020-10-24 15:24:25 UTC,county,Alabama,Barbour,"Barbour, Alabama, US",1005.0,31.868263,-85.387129,Non-core,25782.0,1031,3998.91,9,34.91
3,2020-10-24 15:24:25 UTC,county,Alabama,Bibb,"Bibb, Alabama, US",1007.0,32.996421,-87.125115,Large fringe metro,22527.0,828,3675.59,14,62.15
4,2020-10-24 15:24:25 UTC,county,Alabama,Blount,"Blount, Alabama, US",1009.0,33.982109,-86.567906,Large fringe metro,57645.0,1925,3339.40,25,43.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3261,2020-10-24 15:24:25 UTC,special_exception,Utah,Central Utah,"Central Utah, Utah, US",NaN,39.372319,-111.575868,NaN,NaN,1176,NaN,7,NaN
3262,2020-10-24 15:24:25 UTC,special_exception,Utah,Southeast Utah,"Southeast Utah, Utah, US",NaN,38.996171,-110.701396,NaN,NaN,422,NaN,3,NaN
3263,2020-10-24 15:24:25 UTC,special_exception,Utah,Southwest Utah,"Southwest Utah, Utah, US",NaN,37.854472,-111.441876,NaN,NaN,5705,NaN,49,NaN
3264,2020-10-24 15:24:25 UTC,special_exception,Utah,TriCounty,"TriCounty, Utah, US",NaN,40.124915,-109.517442,NaN,NaN,384,NaN,2,NaN
3265,2020-10-24 15:24:25 UTC,special_exception,Utah,Weber-Morgan,"Weber-Morgan, Utah, US",NaN,41.271160,-111.914512,NaN,NaN,6141,NaN,33,NaN

In [11]:
# Unemployment Rates: National

UnRate_National_df=pd.read_csv("Resources/UNRATE.csv")
UnRate_National_df

         DATE  UNRATE
0    1/1/1948     3.4
1    2/1/1948     3.8
2    3/1/1948     4.0
3    4/1/1948     3.9
4    5/1/1948     3.5
..        ...     ...
868  5/1/2020    13.3
869  6/1/2020    11.1
870  7/1/2020    10.2
871  8/1/2020     8.4
872  9/1/2020     7.9

[873 rows x 2 columns]

In [14]:
# Unemplyment Rates: Colorado

UnRate_Colorado_df=pd.read_csv("Resources/COLO808UR.csv")

#Rename columns
UnRate_Colorado_df=UnRate_Colorado_df.rename(columns={'COLO808UR':'Colorado Unemployment Rate'})

UnRate_Colorado_df

         DATE  Colorado Unemployment Rate
0    1/1/1990                         7.2
1    2/1/1990                         7.2
2    3/1/1990                         7.2
3    4/1/1990                         7.1
4    5/1/1990                         7.1
..        ...                         ...
363  4/1/2020                        12.6
364  5/1/2020                         9.9
365  6/1/2020                        10.3
366  7/1/2020                         6.8
367  8/1/2020                         6.3

[368 rows x 2 columns]

In [ ]:
# Merge data

In [ ]:
# Clean up data

In [ ]:
# Compare National Unemployment to Colorado Unemployment

In [ ]:
# Compare National Unemployment with rise in Covid Cases

In [ ]:
# Compare Colorado Unemployment with rise in Covid Cases

In [ ]:
# Bonus: Compare Employment Rates with Covid-19 cases