In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts

In [10]:
# Pull data for data frames

# John Hopkins Covid-19 Data
#JH_df=pd.read_csv("Resources/")
#JH_df

In [11]:
# Unemployment Rates: National

UnRate_National_df=pd.read_csv("Resources/UNRATE.csv")
UnRate_National_df

         DATE  UNRATE
0    1/1/1948     3.4
1    2/1/1948     3.8
2    3/1/1948     4.0
3    4/1/1948     3.9
4    5/1/1948     3.5
..        ...     ...
868  5/1/2020    13.3
869  6/1/2020    11.1
870  7/1/2020    10.2
871  8/1/2020     8.4
872  9/1/2020     7.9

[873 rows x 2 columns]

In [14]:
# Unemplyment Rates: Colorado

UnRate_Colorado_df=pd.read_csv("Resources/COLO808UR.csv")

#Rename columns
UnRate_Colorado_df=UnRate_Colorado_df.rename(columns={'COLO808UR':'Colorado Unemployment Rate'})

UnRate_Colorado_df

         DATE  Colorado Unemployment Rate
0    1/1/1990                         7.2
1    2/1/1990                         7.2
2    3/1/1990                         7.2
3    4/1/1990                         7.1
4    5/1/1990                         7.1
..        ...                         ...
363  4/1/2020                        12.6
364  5/1/2020                         9.9
365  6/1/2020                        10.3
366  7/1/2020                         6.8
367  8/1/2020                         6.3

[368 rows x 2 columns]

In [ ]:
# Merge data

In [ ]:
# Clean up data

In [ ]:
# Compare National Unemployment to Colorado Unemployment

In [ ]:
# Compare National Unemployment with rise in Covid Cases

In [ ]:
# Compare Colorado Unemployment with rise in Covid Cases

In [ ]:
# Bonus: Compare Employment Rates with Covid-19 cases