In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
file_one = "Files/1_county_level_confirmed_cases.csv"
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")
df1 = pd.DataFrame(file_one_df, columns= ['state','county_name','total_population','confirmed', 'deaths'])#, index = 1["CO"])
df1.head()

     state county_name  total_population  confirmed  deaths
0  Alabama     Autauga           55200.0       2021      30
1  Alabama     Baldwin          208107.0       6443      69
2  Alabama     Barbour           25782.0        996       9
3  Alabama        Bibb           22527.0        801      14
4  Alabama      Blount           57645.0       1873      25

In [ ]:
#pull up each state data for covid confirmed / deaths

# state_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports_us/08-01-2020.csv')
# state_df_drops = state_df.drop(index=[2,9,10,13,14,39,44,52], columns=["Country_Region","Last_Update","Lat","Long_","Recovered","Active","FIPS","Incident_Rate","People_Tested","People_Hospitalized","Mortality_Rate","UID","ISO3","Testing_Rate","Hospitalization_Rate"])
# state_df_drops

In [ ]:
# confirmed_df = pd.DataFrame({"confirmed":confirmed})
# new_confirmed_df = confirmed_df.drop(index=["Puerto Rico"])
# new_new_confirmed_df = new_confirmed_df.drop(index=["District of Columbia"])
# new_confirmed_df = confirmed_df.reset_index()
# new_new_confirmed_df

In [ ]:
import numpy as npimport 
matplotlib.pyplot as plt
# Generate 
\thnp.random.seed(100)x = list(range(10))y = x+np.random.rand(10)-0.5
# Calculate the slope and y-intercept of the trendline
fit = np.polyfit(x,y,1)
# Add the trendline
yfit = [n*fit[0] for n in x]+fit[1]plt.scatter(x,y)plt.plot(yfit,'black')plt.show()