In [11]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import csv



covid_count = pd.read_csv("resources/Covid/3_cases_and_deaths_by_state_timeseries.csv")
state_covid = pd.read_csv("resources/Covid/CDPHE_COVID19_Daily_State_Statistics.csv")
demo_co = pd.read_csv("resources/Covid/covid19_cases_demographics_tests_2020-10-23.csv")
demo_usa = pd.read_csv("resources/Covid/covid_confirmed_usafacts.csv")

In [12]:
covid_count = pd.DataFrame(covid_count)
state_covid = pd.DataFrame(state_covid)
demo_co = pd.DataFrame(demo_co)
demo_usa = pd.DataFrame(demo_usa)

In [15]:
covid_count.head(75)

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
0,Alabama,22-01-20,4887871.0,0,0.00,0,0.00,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,23-01-20,4887871.0,0,0.00,0,0.00,0.0,NaN,0.0,NaN,0.00,0.00
2,Alabama,24-01-20,4887871.0,0,0.00,0,0.00,0.0,NaN,0.0,NaN,0.00,0.00
3,Alabama,25-01-20,4887871.0,0,0.00,0,0.00,0.0,NaN,0.0,NaN,0.00,0.00
4,Alabama,26-01-20,4887871.0,0,0.00,0,0.00,0.0,NaN,0.0,NaN,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Alabama,01-04-20,4887871.0,1060,21.69,27,0.55,73.0,97.00,4.0,3.71,0.08,1.49
71,Alabama,02-04-20,4887871.0,1233,25.23,32,0.65,173.0,102.29,5.0,4.43,0.10,3.54
72,Alabama,03-04-20,4887871.0,1495,30.59,38,0.78,262.0,129.71,6.0,4.86,0.12,5.36
73,Alabama,04-04-20,4887871.0,1614,33.02,44,0.90,119.0,131.43,6.0,5.71,0.12,2.43
74,Alabama,05-04-20,4887871.0,1765,36.11,45,0.92,151.0,134.29,1.0,5.00,0.02,3.09

In [16]:
demo_usa.head(75)

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/14/20,10/15/20,10/16/20,10/17/20,10/18/20,10/19/20,10/20/20,10/21/20,10/22/20,10/23/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,1928,1949,1966,1983,1989,1999,2010,2021,2023,2030
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,6270,6285,6333,6350,6369,6375,6405,6443,6475,6615
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,950,965,968,977,981,981,988,996,997,1012
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,744,761,771,775,785,789,791,801,811,825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2016,Aleutians West Census Area,AK,2,0,0,0,0,0,0,...,5,5,5,6,6,6,6,6,6,6
71,2020,Municipality of Anchorage,AK,2,0,0,0,0,0,0,...,5699,5777,5888,5995,6095,6188,6302,6445,6510,6666
72,2050,Bethel Census Area,AK,2,0,0,0,0,0,0,...,189,214,229,234,253,258,269,270,309,328
73,2060,Bristol Bay Borough,AK,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,2068,Denali Borough,AK,2,0,0,0,0,0,0,...,13,13,15,17,17,17,19,20,20,20

In [17]:
state_covid.head()

,Name,Desc_,Date,Cases,Tested,Test_Encounters,Deaths,DthCOVID19,Population,Rate,Hosp,Counties,Outbreaks,ObjectId
0,Colorado,State Data,07-09-20,35525.0,374161.0,NaN,1706.0,1581.0,5694287.0,623.87,5831.0,61.0,387.0,1
1,Colorado,State Data,07-10-20,36191.0,382859.0,NaN,1724.0,1586.0,5694287.0,635.57,5864.0,61.0,391.0,2
2,Colorado,State Data,07-11-20,36591.0,389099.0,NaN,1725.0,1586.0,5694287.0,642.59,5885.0,61.0,398.0,3
3,Colorado,State Data,07-12-20,36913.0,396363.0,NaN,1725.0,1586.0,5694287.0,648.25,5895.0,61.0,398.0,4
4,Colorado,State Data,07/13/2020,37242.0,401942.0,NaN,1727.0,1589.0,5694287.0,654.02,5941.0,61.0,401.0,5

In [18]:
demo_co.head(20)

,section,category,description,date,metric,value
0,State Data,Colorado COVID-19 Data,Cumulative counts to date,NaN,Cases,9.157200e+04
1,State Data,Colorado COVID-19 Data,Cumulative counts to date,NaN,Hospitalized,8.557000e+03
2,State Data,Colorado COVID-19 Data,Cumulative counts to date,NaN,Counties,6.400000e+01
3,State Data,Colorado COVID-19 Data,Cumulative counts to date,NaN,People Tested,1.124409e+06
4,State Data,Colorado COVID-19 Data,Cumulative counts to date,NaN,Test Encounters,1.790404e+06
5,State Data,Colorado COVID-19 Data,Cumulative counts to date,NaN,Deaths Among Cases,2.211000e+03
6,State Data,Colorado COVID-19 Data,Cumulative counts to date,NaN,Deaths Due to COVID-19,2.076000e+03
7,State Data,Colorado COVID-19 Data,Cumulative counts to date,NaN,Outbreaks,1.043000e+03
8,State Data,Colorado COVID-19 Data,Cumulative counts to date,NaN,Confirmed cases,8.508000e+04
9,State Data,Colorado COVID-19 Data,Cumulative counts to date,NaN,Percent of confirmed cases,9.291000e-01
10,State Data,Colorado COVID-19 Data,Cumulative counts to date,NaN,Probable cases,6.492000e+03
11,State Data,Colorado COVID-19 Data,Cumulative counts to date,NaN,Percent of probable cases,7.090000e-02
12,State Data,Colorado COVID-19 Data,Cumulative counts to date,NaN,Confirmed deaths among cases,1.829000e+03
13,State Data,Colorado COVID-19 Data,Cumulative counts to date,NaN,Percent of confirmed deaths among cases,8.272000e-01
14,State Data,Colorado COVID-19 Data,Cumulative counts to date,NaN,Probable deaths among cases,3.820000e+02
15,State Data,Colorado COVID-19 Data,Cumulative counts to date,NaN,Percent of probable deaths among cases,1.728000e-01
16,State Metrics,Cases,Cases Reported Today,NaN,Current,1.156000e+03
17,State Metrics,Cases,Cases Reported Today,NaN,Change,1.200000e+01
18,State Metrics,Cases,Cases Added with Previous Reported Date,NaN,Current,1.940000e+02
19,State Metrics,Cases,7-Day Moving Average of Cases Reported,NaN,Current,1.027000e+03