In [3]:
import pandas as pd
import pprint as pp

In [6]:
data_path = "../../resources/science-data/"
gw_df = pd.read_csv(data_path + "global_warming.csv")
gw_meta_df = pd.read_csv(data_path + "global_warming_meta.csv")
fips_df = pd.read_csv(data_path + "fips.csv")

In [8]:
fips_df

       FIPS        Name State
0      1001     Autauga    AL
1      1003     Baldwin    AL
2      1005     Barbour    AL
3      1007        Bibb    AL
4      1009      Blount    AL
...     ...         ...   ...
3227  72151     Yabucoa    PR
3228  72153       Yauco    PR
3229  78010   St. Croix    VI
3230  78020    St. John    VI
3231  78030  St. Thomas    VI

[3232 rows x 3 columns]

In [9]:
gw_df

,GeoType,GEOID,GeoName,TotalPop,discuss,discussOppose,reducetax,reducetaxOppose,CO2limits,CO2limitsOppose,...,devharm,devharmOppose,futuregen,futuregenOppose,harmplants,harmplantsOppose,timing,timingOppose,affectweather,affectweatherOppose
0,National,9999,US,249349804,35.440,64.397,67.832,31.194,67.729,31.706,...,65.080,21.882,70.528,18.096,71.234,18.504,56.261,43.739,64.198,5.892
1,State,1,Alabama,3765888,27.973,71.887,62.843,35.206,62.690,36.574,...,58.001,24.780,60.989,22.537,62.641,21.698,50.425,49.575,53.326,7.127
2,State,2,Alaska,552380,39.532,59.610,64.150,34.160,64.217,35.151,...,64.119,24.607,68.425,20.811,71.070,20.788,52.617,47.383,60.916,5.940
3,State,4,Arizona,5312901,37.969,61.774,64.020,34.538,65.537,33.906,...,64.003,23.302,67.873,19.958,68.882,20.502,55.609,44.391,63.547,6.268
4,State,5,Arkansas,2284725,30.265,69.447,65.832,32.830,63.568,35.856,...,60.591,24.984,65.486,20.477,66.876,20.901,50.170,49.830,55.720,7.074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4558,CBSA,49660,"Youngstown-Warren-Boardman, OH-PA",434413,30.376,69.540,66.740,32.525,64.927,33.674,...,61.268,23.921,66.846,21.039,67.775,21.544,54.017,45.983,63.527,6.258
4559,CBSA,49700,"Yuba City, CA",125381,36.351,63.454,64.116,35.332,63.174,36.408,...,64.349,23.008,69.211,19.789,70.025,19.662,54.291,45.708,60.920,6.677
4560,CBSA,49740,"Yuma, AZ",154560,34.295,65.074,65.353,33.282,66.376,32.655,...,63.549,20.084,65.805,19.504,67.369,19.781,56.198,43.801,63.526,5.967
4561,CBSA,49780,"Zanesville, OH",66245,27.259,72.511,61.331,38.099,55.191,44.168,...,56.164,27.842,63.427,23.531,63.484,24.079,46.247,53.752,54.833,7.400
4562,CBSA,49820,"Zapata, TX",9553,39.977,59.887,77.326,21.585,77.965,21.606,...,76.447,11.965,79.305,10.259,80.216,10.007,68.376,31.613,70.428,3.999